#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}
body, html{
    margin: 0;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #efb365;

}
.grill{
    background-color: #000000;
    font-size:xx-large;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: chocolate;
}
.caixa1{
    width: 100%;
    background-color: chocolate;
    text-align: center;
    padding: 8px 0;
    margin: 5px 5px 5px 5px ;
    border: #000000 solid 2px;
    

}
.cardapio{
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    padding: auto;
}
.caixapadrao{
    text-align:center;
    border:black solid 2px ;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.video{
    width: 100%;
}

.botton{
    background-color: #000000;
    color: chocolate;
    font-weight: bold;
}