#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}

body, html{
    
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color:#f5dbba;

}
.grill{
    background-color: #000000;
    font-size:xx-large;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: chocolate;
}
.caixa1{
    background-color:#f5dbba ;
    text-align: center;
    padding: 8px 0;
    margin: 10px 0px 0px 10px;
    border: #000000 solid 2px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;


}
.cardapio{
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    padding: auto;
}
.caixapadrao{
    text-align:center;
    border:black solid 2px ;
    width: 235px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: chocolate;

}
.video{
    width: 100%;
}

.botton{
    background-color: #000000;
    color: chocolate;
    font-weight: bold;
    margin: 20px;
    border-radius: 10%;
    margin-top: 10px;
    cursor: pointer;
}
.caixamenor{
text-align:center;
margin: 5px;
background-color: black;
color: rgb(146, 69, 14);
height: 70px;
border: #853b07 solid 2px;

}
.p{
    font-weight: bolder;
}
.img{
    height: 160px;
    width: 235px;
    align-items: center;
}

#botton:hover{
    background-color:hwb(25 17% 15%);
    color: hsl(0, 0%, 0%);
    border: hsl(0, 0%, 0%) solid 2px;
}

header video{
    width: 100%;
    height: 400px;
    object-fit: cover;
}