#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}
body, html{
    margin: 0;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #efb365;

}
.grill{
    background-color: #000000;
    font-size:xx-large;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: chocolate;
}
.caixa1{
    width: 100%;
    background-color: chocolate;
    text-align: center;
    padding: 8px 0;
}
.cardapio{
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}
.caixapadrao{
    text-align:center;
    border: #ddd;
    display: flex;

}