#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}

body, html{
    margin: 0;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color:#f5dbba;

}
.grill{
    background-color: #000000;
    font-size:xx-large;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: chocolate;
}
.caixa1{
    background-color:#f5dbba ;
    text-align: center;
    padding: 8px 0;
    margin: 5px 5px 5px 5px ;
    border: #000000 solid 2px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;


}
.cardapio{
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    padding: auto;
}
.caixapadrao{
    text-align:center;
    border:black solid 2px ;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: chocolate;

}
.video{
    width: 100%;
}

.botton{
    background-color: #000000;
    color: chocolate;
    font-weight: bold;
    margin: 20px;
    border-radius: 10%;
}
.caixamenor{
text-align:center;
margin: 5px;

}
.p{
    font-weight: bolder;
}
.img{
    height: 150px;
    width: 200px;
}