#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}
body, html{
    margin: 0;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
.grill{
    background-color: chocolate;
    font-size:xx-large;
    width: 100%;
    text-align: center;
}
.caixa1{
    width: 100%;
    background-color:chocolate;
    text-align: center;
    padding: 8px 0;
    
}
.cardapio{
    background-color: black;
    color: chocolate;
}